body.dark {
  margin: 0;
  background-color: black;
  color: #b833ff;
  font-family: 'Arial', sans-serif;
}

body.light {
  margin: 0;
  background-color: white;
  color: #b833ff;
  font-family: 'Arial', sans-serif;
}


body.dark .navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  background-color: black;
  
}

body.light .navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  background-color: white;
  
}

.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}


body.light .theme-toggle {
  background-color: white;
  color: #b833ff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


body.dark .theme-toggle {
  background-color: black;
  color: #b833ff;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

.nav-links a {
  margin: 0 3rem;
  color: #b833ff;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom:  solid#b833ff ;
  border-length: 200px;
}

.nav-links a:hover {
  border-color: #b833ff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  flex-wrap: wrap;
}

.aboutme {
  font-size: large;
}

.profile-img img {
  width: 500px;
  max-height: 500px; /* reasonable max height */
  object-fit: cover;
  border-radius: 8px;
  margin-right: 3rem;
}

.intro-text h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.intro-text p {
  margin: 0.5rem 0;
  font-size: 2rem;
}

.social-links {
  margin-top: 1rem;
}

.social-links a {
  margin-right: 1rem;
  font-size: 3.5rem;
  color: #fff;
}


#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  pointer-events: auto; 
}

.App {
  position: relative;
  z-index: 1;
  
}

.navbar,
.hero,
button,
a {
  pointer-events: auto; 
}
