body.dark {
  margin: 0;
  background-color: black;
  color: #b833ff;
  font-family: 'Arial', sans-serif;
}

body.light {
  margin: 0;
  background-color: white;
  color: #b833ff;
  font-family: 'Arial', sans-serif;
}

/* FIXED: use .navbar inside body classes */
body.dark .navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  background-color: black;
  
}

body.light .navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  background-color: white;
  
}

.nav-links a {
  margin: 0 3rem;
  color: #b833ff;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom:  solid#b833ff ;
  border-length: 200px;
}

.nav-links a:hover {
  border-color: #b833ff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  flex-wrap: wrap;
}

.profile-img img {
  width: 500px;
  max-height: 500px; /* reasonable max height */
  object-fit: cover;
  border-radius: 8px;
  margin-right: 3rem;
}

.intro-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.intro-text p {
  margin: 0.3rem 0;
  font-size: 1.2rem;
}

.social-links {
  margin-top: 1rem;
}

.social-links a {
  margin-right: 1rem;
  font-size: 3.5rem;
  color: #fff;
}
